body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1, h2, h3 {
    cursor: pointer;
}

.content {
    display: none;
}

/* Styling for the Table of Contents */
#toc {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

#toc a {
    text-decoration: none;
    color: #0073e6;
}

#toc ul {
    list-style-type: none;
    padding-left: 0;
}

#toc ul li {
    margin: 5px 0;
}
